@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --primary-color: #26a69a;
}
svg:hover {
  fill: #26a69a !important;
  color: #26a69a !important;
  background-color: #26a69a !important;
}


